<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <style>
    html,body {
      font-family: PingFangSC-Light, sans-serif;
      padding: 0;
      margin: 0;
      background-color: #fff;
      width: 550px;
      height: 440px;
    }

    .warp {
      width: 550px;
      height: 440px;
      box-sizing: border-box;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      justify-items: center;
      justify-content: space-evenly;
      align-items: flex-start;
      align-content: space-evenly;
    }

    .item {
      width: 165px;
      height: 50px;
      border-radius: 50px;
      overflow: hidden;
      background-color: #fff;
      display: flex;
      align-items: center;
      font-size: 12px;
      border: 1px solid #fff;
      box-sizing: border-box;
    }

    .item-empty {
      border-color: #0092FF;
    }

    .name {
      display: inline-block;
      width: 100px;
      max-width: 100px;
      height: 16px;
      line-height: 16px;
      overflow: hidden;
      text-overflow:ellipsis;
      white-space: nowrap;
      font-size: 16px;
      color: #000;
    }
    .name-empty {
      color: #0092FF;
    }

    .img {
      display: block;
      width: 50px;
      height: 50px;
      border-radius: 50%;
      overflow: hidden;
      margin-right: 8px;
      text-align: center;
      line-height: 50px;
      font-size: 20px;
      color: #fff;
      background-color: #0092FF;
    }
  </style>
</head>
<body>
<div class="warp">
  {{#each data as |row|}}
    {{#if row.avatarUrl}}
      <div class="item">
        <img class="img" src="{{ row.avatarUrl }}" alt="">
        <span class="name">{{ row.nickName }}</span>
      </div>
    {{else}}
      <div class="item item-empty">
        <span class="img" class="name">{{ row.index }}</span>
        {{#if row.isCancel}}
          <span class="name name-empty">组队失败</span>
        {{else if row.isDone}}
          <span class="name name-empty">已结束</span>
        {{else}}
          <span class="name name-empty">点击报名</span>
        {{/if}}
      </div>
    {{/if}}
  {{/each}}
</div>
</body>
</html>
